* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f3640;
}

.header h1 {
  color: #FFF;
}

#search-form #searchTitle {
  background-color: #353b48;
  border: 1px solid #FFF;
  color: #FFF;
}

#search-form #searchTitle::placeholder {
  color: #7f8fa6;
}

.page-num {
  color: #FFF;
}

.movie-item{
  margin-bottom: 20px;
  flex: 20%;
  max-width: 20%;
}

.movie-item .card {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 10px;
  background-color: #353b48;
  padding-bottom: 0;
}

.movie-item a{
  text-decoration: none;
}

.movie-item a:hover .card-title {
  color: #ff7979;
}

.card-title {
  text-align: left;
  font-size: 1.1rem;
  color: #FFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.movie-item .card img{
  max-height: 280px;
  min-height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease;
}

.movie-item:hover .card img {
  -webkit-filter: brightness(60%);
  opacity: 1;
}

ul,ol {
  list-style: none;
}

.movie-detail-desc{
  padding: 30px;
  text-align: left;
}

.movie-detail-desc p b{
  margin-right: 20px;
}

.pagination{
  justify-content: center;
}

.page-item.disabled {
  color: #7f8fa6;
}

.page-item.disabled .page-link {
  background-color: #2f3640;
}

.page-link {
  border: 1px solid #FFF;
  background-color: #353b48;
  color: #FFF;
}

.page-link:hover {
  color: #ff7979;
}

.movie-detail-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.movie-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-wrap: wrap;
}

.movie-detail-header .left {
  text-align: left;
}

.movie-detail-header .left h2{
  color: #FFF;
  font-size: 2.2rem;
}

.movie-detail-header .left p {
  color: #ff7979;
  font-size: 1.2rem;
}

.movie-detail-header .right p span {
  color: #ff7979;
  font-weight: bold;
}

.movie-detail-header .right p {
  color: #FFF;
  font-size: 1.5rem;
}

.movie-detail-desc h5 {
  color: #FFF;
}

.movie-detail-desc p {
  color: #FFF;
}

.movie-detail-desc ul li {
  color: #ff7979;
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movie-item {
    flex: 50%;
    max-width: 50%;
  }

  .movie-item .card img{
    max-height: 220px;
    min-height: 220px;
  }

  .movie-detail-header {
    padding: 20px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .movie-item {
    flex: 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .movie-detail-img,
  .movie-detail-desc {
    flex: 100%;
    max-width: 100%;
  }

  .movie-detail-header {
    padding: 20px;
    padding-bottom: 0;
  }

  .list-desc {
    flex: 33.33%;
    max-width: 33.33%;
  }
}