.movie-item{
  margin-bottom: 20px;
}

.movie-item .card img{
  max-height: 300px;
  min-height: 300px;
}

ul,ol {
  list-style: none;
}

.movie-detail-desc{
  padding: 30px;
  text-align: left;
}

.movie-detail-desc p b{
  margin-right: 20px;
}

.pagination{
  justify-content: center;
}
